SFT/unsloth_compiled_cache/*
unsloth_training_checkpoints/*
unsloth_training_logs/*
unsloth_training_results/*
*.pyc
unsloth_compiled_cache/*
.vscode


SFT/gemma_3_4B_QLORA/output/*
SFT/llama_3.2_1B_QLORA/output/*
SFT/gemma_3_4B_QLORA/trainer_output/*
SFT/Qwen_2.5_1.5B_QLORA/output/*

SFT/mistral_7B_QLORA/output/*
SFT/QWEN-2.5_7B_QLORA/output/*
SFT/llama_3.2_3B_QLORA/output/*
SFT/legal_bert_plus_gpt2/output/*

